// general
body {
  background: rgb(198, 238, 233);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

input {
  outline: 0 !important;
}

img {
  display: block;
}

// search-form
.search-form {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  background: linear-gradient(
    90deg,
    rgb(10, 5, 107) 10%,
    rgba(110, 9, 121, 1) 55%,
    rgba(0, 212, 255, 1) 100%
  );
}

.form-input {
  width: 250px;
  padding: 0 15px;
}

// button search
.btn {
  display: block;
  margin-left: 10px;
  width: 90px;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  background: linear-gradient(90deg, #ee7752, #e73c7e, #10eb64, #23a6d5);
  background-size: 400% 400%;
  animation: btn 5s ease infinite;
}

// .btn:hover {
//   animation: none;
// }

@keyframes btn {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// gallery
.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.photo-card {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1), -23px 0 20px -23px rgba(0, 0, 0, 1),
    23px 0 20px -23px rgba(0, 0, 0, 1), 0 0 40px rgba(0, 0, 0, 1) inset;
}
.gallery-box {
  padding: 20px 40px;
}

.info {
  display: flex;
  text-align: center;
  font-size: 12px;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: paleturquoise;
}

.signature {
  font-weight: normal;
  font-size: 11px;
}
